<div >
  <section id="homePage">
    <div class="homePageDown">
      <h2>The Ultimate Car Rental Service</h2>
    </div>
  </section>
<!-- homePage end -->
  <section id="car">
    <h2>Cars</h2>
    <div class="car_container">
      <div class="item_container">
        <div class="car_text">
          <h3>BMW</h3>
        </div>
      </div>
      <div class="item_container">
        <div class="car_text">
          <h3>Mercedes Benz</h3>
        </div>
      </div>
      <div class="item_container">
        <div class="car_text">
          <h3>Audi</h3>
        </div>
      </div>
      <div class="item_container">
        <div class="car_text">
          <h3>Volkswagen</h3>
        </div>
      </div>
    </div>
    <div class="car_btn">
      <span routerLink="company">View all</span>
    </div>
  </section>
<!-- car end -->
</div>
