<section id="fleet">
  <div class="fleet_container">
    <div class="items_container">
      <div class="small_cars">
        <div class="small_cars_container">
          <div class="small_cars_text">
            <h2>Small cars</h2>
          </div>
        </div>
        <div class="info_panel">
          <div class="info_panel_container">
            <div class="info_panel_container_img">

            </div>
            <div class="info_panel_container_text">
              <h2>Mini - Group A</h2>
              <div class="small_cars_span">
                <span class="groupA_text_strong">
                  <strong>Example of this range: Fiat 500 or similar</strong>
                  <br>
                  <br>
                </span>
                <span class="groupA_text">
                  Pick up a chic, compact hire car like the Fiat 500, perfect for the big city with their tight turning circles, light steering and penchant for painless parking. Plus, these superminis keep up just fine on the open road.
                  <br>
                  <br>
                  Minimum driver age: 21.
                  <br>
                  Payment cards required: 1
                  <br>
                  <br>
                </span>
              </div>
              <div class="small_cars_table">
                <table width="400" cellspacing="5" cellpadding="15" border="0">
                  <tbody>
                  <tr>
                    <td>4 Seats</td>
                    <td>2 Bag</td>
                    <td>3 Doors</td>
                  </tr>
                  <tr>
                    <td>Automatic</td>
                    <td>Petrol</td>
                    <td>Air Con</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          </div>
<!--    first end     -->
          <div class="info_panel">
          <div class="info_panel_container second_info">
            <div class="info_panel_container_img2">

            </div>
            <div class="info_panel_container_text">
              <h2>Economy - Group B</h2>
              <div class="small_cars_span">
                <span class="groupA_text_strong">
                  <strong>Example of this range - WV Polo, Ford Fiesta or Skoda Rapid</strong>
                  <br>
                  <br>
                </span>
                <span class="groupA_text">
                  Purr along in some of the most perky superminis out there. Our Economy car hire range features the WV Polo and Skoda Rapid, among others, promising practicality and fun in equal measure.
                  <br>
                  <br>
                  Minimum driver age: 21.
                  <br>
                  Payment cards required: 1
                  <br>
                  <br>
                </span>
              </div>
              <div class="small_cars_table">
                <table width="400" cellspacing="5" cellpadding="15" border="0">
                  <tbody>
                  <tr>
                    <td>4 Seats</td>
                    <td>3 Bag</td>
                    <td>5 Doors</td>
                  </tr>
                  <tr>
                    <td>Manual</td>
                    <td>Petrol</td>
                    <td>Air Con</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
<!--   second end     -->
        <div class="info_panel">
          <div class="info_panel_container">
            <div class="info_panel_container_img3">

            </div>
            <div class="info_panel_container_text3">
              <h2>Comfort - Group C</h2>
              <div class="small_cars_span">
                <span class="groupA_text_strong">
                  <strong>Example of this range - WV Polo, Skoda Fabia or similar</strong>
                  <br>
                  <br>
                </span>
                <span class="groupA_text">
                  Comfortable and stylish family car like VW Polo reveal holiday-friendly boots and well insulated cabins.
                  <br>
                  <br>
                  Minimum driver age: 21.
                  <br>
                  Payment cards required: 1
                  <br>
                  <br>
                </span>
              </div>
              <div class="small_cars_table">
                <table width="400" cellspacing="5" cellpadding="15" border="0">
                  <tbody>
                  <tr>
                    <td>4 Seats</td>
                    <td>3 Bag</td>
                    <td>5 Doors</td>
                  </tr>
                  <tr>
                    <td>Automatic</td>
                    <td>Petrol</td>
                    <td>Air Con</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
<!--    third end    -->
        </div>
      <div class="mid_size_cars small_cars">
        <div class="small_cars_container mid_size_containers">
          <div class="small_cars_text">
            <h2>Mid-size cars</h2>
          </div>
        </div>
        <div class="info_panel">
          <div class="info_panel_container">
            <div class="info_panel_container_img4">

            </div>
            <div class="info_panel_container_text">
              <h2>Economy - Group D</h2>
              <div class="small_cars_span">
                <span class="groupA_text_strong">
                  <strong>Example of this range - Ford Focus, VW Golf, Toyota Corolla or similar</strong>
                  <br>
                  <br>
                </span>
                <span class="groupA_text">
                  Comfortable and stylish, mid-size family hatchbacks like Ford Focus reveal holiday-friendly boots and well insulated cabins
                  <br>
                  <br>
                  Minimum driver age: 21.
                  <br>
                  Payment cards required: 1
                  <br>
                  <br>
                </span>
              </div>
              <div class="small_cars_table">
                <table width="400" cellspacing="5" cellpadding="15" border="0">
                  <tbody>
                  <tr>
                    <td>5 Seats</td>
                    <td>4 Bag</td>
                    <td>5 Doors</td>
                  </tr>
                  <tr>
                    <td>Manual</td>
                    <td>Petrol</td>
                    <td>Air Con</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
<!--    fourth end    -->
        <div class="info_panel">
          <div class="info_panel_container">
            <div class="info_panel_container_img5">

            </div>
            <div class="info_panel_container_text">
              <h2>Comfort - Group E</h2>
              <div class="small_cars_span">
                <span class="groupA_text_strong">
                  <strong>Example of this range - VW Golf, Toyota Corolla or similar</strong>
                  <br>
                  <br>
                </span>
                <span class="groupA_text">
                  VW Golf and Toyota Corolla are good examples of the family hatchbacks with bite that sit in this range of hire cars. Take to the road, kids in tow, for a spacious, fun and friendly ride.
                  <br>
                  <br>
                  Minimum driver age: 21.
                  <br>
                  Payment cards required: 1
                  <br>
                  <br>
                </span>
              </div>
              <div class="small_cars_table">
                <table width="400" cellspacing="5" cellpadding="15" border="0">
                  <tbody>
                  <tr>
                    <td>5 Seats</td>
                    <td>4 Bag</td>
                    <td>5 Doors</td>
                  </tr>
                  <tr>
                    <td>Automatic</td>
                    <td>Petrol</td>
                    <td>Air Con</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
<!--    fifth end    -->
      </div>
      <div class="large_cars small_cars">
        <div class="small_cars_container mid_size_containers">
          <div class="small_cars_text">
            <h2>Large cars</h2>
          </div>
        </div>
        <div class="info_panel">
          <div class="info_panel_container">
            <div class="info_panel_container_img6">

            </div>
            <div class="info_panel_container_text6">
              <h2>Business - Group F</h2>
              <div class="small_cars_span">
                <span class="groupA_text_strong">
                  <strong>Example of this range - VW Passat  or similar</strong>
                  <br>
                  <br>
                </span>
                <span class="groupA_text">
                  The VW Passat is fun and specious driver's car
                  <br>
                  <br>
                  Minimum driver age: 25.
                  <br>
                  Payment cards required: 1
                  <br>
                  <br>
                </span>
              </div>
              <div class="small_cars_table">
                <table width="400" cellspacing="5" cellpadding="15" border="0">
                  <tbody>
                  <tr>
                    <td>5 Seats</td>
                    <td>4 Bag</td>
                    <td>4 Doors</td>
                  </tr>
                  <tr>
                    <td>Automatic</td>
                    <td>Petrol</td>
                    <td>Air Con</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
<!--    sixth end    -->
        <div class="info_panel">
          <div class="info_panel_container">
            <div class="info_panel_container_img7">

            </div>
            <div class="info_panel_container_text">
              <h2>Luxury - Group J</h2>
              <div class="small_cars_span">
                <span class="groupA_text_strong">
                  <strong>Example of this range - Audi A6, BMW 5 Series or similar</strong>
                  <br>
                  <br>
                </span>
                <span class="groupA_text">
                  The spacious, stylish Audi A6 automatic, in all its elegance, highly competent and efficient glory, represents our range of large automatics.
                  <br>
                  <br>
                  Minimum driver age: 25.
                  <br>
                  Payment cards required: 2
                  <br>
                  <br>
                </span>
              </div>
              <div class="small_cars_table">
                <table width="400" cellspacing="5" cellpadding="15" border="0">
                  <tbody>
                  <tr>
                    <td>5 Seats</td>
                    <td>4 Bag</td>
                    <td>4 Doors</td>
                  </tr>
                  <tr>
                    <td>Automatic</td>
                    <td>Petrol</td>
                    <td>Air Con</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
<!--    seventh end    -->
        </div>
      <div class="vans small_cars">
        <div class="small_cars_container mid_size_containers">
          <div class="small_cars_text">
            <h2>Vans</h2>
          </div>
        </div>
        <div class="info_panel">
          <div class="info_panel_container">
            <div class="info_panel_container_img8">

            </div>
            <div class="info_panel_container_text8">
              <h2>Family - Group H</h2>
              <div class="small_cars_span">
                <span class="groupA_text_strong">
                  <strong>Example of this range - Ford Tourneo Connect or similar</strong>
                  <br>
                  <br>
                </span>
                <span class="groupA_text">
                  The spacious, solid and comfortable Ford Connect Tourneo feature prominently in our mid-size estate group.
                  <br>
                  *The car on the photo differs from the passenger van of Avis fleet that has glass.
                  <br>
                  <br>
                  Minimum driver age: 25.
                  <br>
                  Payment cards required: 1
                  <br>
                  <br>
                </span>
              </div>
              <div class="small_cars_table">
                <table width="400" cellspacing="5" cellpadding="15" border="0">
                  <tbody>
                  <tr>
                    <td>7 Seats</td>
                    <td>5 Bag</td>
                    <td>5 Doors</td>
                  </tr>
                  <tr>
                    <td>Manual</td>
                    <td>Diesel</td>
                    <td>Air Con</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!--    eighth end    -->
        <div class="info_panel">
          <div class="info_panel_container">
            <div class="info_panel_container_img9">

            </div>
            <div class="info_panel_container_text9">
              <h2>Full Size - Group I</h2>
              <div class="small_cars_span">
                <span class="groupA_text_strong">
                  <strong>Example of this range - Ford Transit Custom or similar</strong>
                  <br>
                  <br>
                </span>
                <span class="groupA_text">
                  The Ford Transit Custom, a super comfortable and spacious driver’s van, is among our large estates on offer.
                  <br>
                  <br>
                  Minimum driver age: 25.
                  <br>
                  Payment cards required: 1
                  <br>
                  <br>
                </span>
              </div>
              <div class="small_cars_table">
                <table width="400" cellspacing="5" cellpadding="15" border="0">
                  <tbody>
                  <tr>
                    <td>9 Seats</td>
                    <td>7 Bag</td>
                    <td>5 Doors</td>
                  </tr>
                  <tr>
                    <td>Manual</td>
                    <td>Diesel</td>
                    <td>Air Con</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!--    ninth end    -->
        <div class="info_panel">
          <div class="info_panel_container">
            <div class="info_panel_container_img10">

            </div>
            <div class="info_panel_container_text10">
              <h2>Spacious - Group K</h2>
              <div class="small_cars_span">
                <span class="groupA_text_strong">
                  <strong>Example of this range - VW Caravelle or similar</strong>
                  <br>
                  <br>
                </span>
                <span class="groupA_text">
                  Sharp saloons like the spacious, agile VW Caravelle is an example of this range of hire cars.
                  <br>
                  <br>
                  Minimum driver age: 25.
                  <br>
                  Payment cards required: 1
                  <br>
                  <br>
                </span>
              </div>
              <div class="small_cars_table">
                <table width="400" cellspacing="5" cellpadding="15" border="0">
                  <tbody>
                  <tr>
                    <td>9 Seats</td>
                    <td>7 Bag</td>
                    <td>5 Doors</td>
                  </tr>
                  <tr>
                    <td>Automatic</td>
                    <td>Diesel</td>
                    <td>Air Con</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
<!--   tenth end     -->
      </div>
      <div class="4x4 small_cars">
        <div class="small_cars_container mid_size_containers">
          <div class="small_cars_text">
            <h2>4 x 4</h2>
          </div>
        </div>
        <div class="info_panel">
          <div class="info_panel_container">
            <div class="info_panel_container_img11">

            </div>
            <div class="info_panel_container_text11">
              <h2>Compact SUV - Group L</h2>
              <div class="small_cars_span">
                <span class="groupA_text_strong">
                  <strong>Example of this range: VW Tiguan, Toyota RAV 4 or similar</strong>
                  <br>
                  <br>
                </span>
                <span class="groupA_text">
                  The sturdy, humongous VW Tiguan takes prime position in the five-seat 4х4 Automatic grouping
                  <br>
                  <br>
                  Minimum driver age: 25.
                  <br>
                  Payment cards required: 2
                  <br>
                  <br>
                </span>
              </div>
              <div class="small_cars_table">
                <table width="400" cellspacing="5" cellpadding="15" border="0">
                  <tbody>
                  <tr>
                    <td>5 Seats</td>
                    <td>4 Bag</td>
                    <td>5 Doors</td>
                  </tr>
                  <tr>
                    <td>Automatic</td>
                    <td>Mixed</td>
                    <td>Air Con</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!--    eleventh end    -->
        <div class="info_panel">
          <div class="info_panel_container">
            <div class="info_panel_container_img12">

            </div>
            <div class="info_panel_container_text">
              <h2>Premium SUV - Group M</h2>
              <div class="small_cars_span">
                <span class="groupA_text_strong">
                  <strong>Example of this range - Toyota LC Prado, VW Touareg or similar</strong>
                  <br>
                </span>
                <span class="groupA_text">
                 The family-friendly and stylish Toyota LC Prado can swallow a family and their luggage with ease.
                  This range of super-sized passenger car features the good-looking, five seater WV Touareg with
                  its well-appointed driving position and general car-like ambience.
                  <br>
                  <br>
                  Minimum driver age: 25.
                  <br>
                  Payment cards required: 2
                  <br>
                  <br>
                </span>
              </div>
              <div class="small_cars_table">
                <table width="400" cellspacing="5" cellpadding="15" border="0">
                  <tbody>
                  <tr>
                    <td>5 Seats</td>
                    <td>5 Bag</td>
                    <td>5 Doors</td>
                  </tr>
                  <tr>
                    <td>Automatic</td>
                    <td>Diesel</td>
                    <td>Air Con</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!--    twelfth end    -->
      </div>
      <div class="mid_size_containers small_cars">
        <div class="small_cars_container">
          <div class="small_cars_text">
            <h5>Please note that the vehicles shown above are a representative example. We cannot guarantee the exact make and model you'll get.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
